# R63 - anuncios ficam desligados ate a ativacao consciente.
VITE_ADS_ENABLED=false
VITE_ADS_TEST_MODE=true
VITE_ADS_INTERVAL_MINUTES=15
VITE_ADS_NAVIGATIONS=8
VITE_ADMOB_BANNER_ID_ANDROID=
VITE_ADMOB_INTERSTITIAL_ID_ANDROID=
VITE_ADMOB_REWARDED_ID_ANDROID=
