# Render / API
PORT=3000
PUBLIC_API_URL=https://SEU-BACKEND.onrender.com
FRONTEND_URL=https://SEU-FRONTEND.onrender.com

# Segurança
JWT_SECRET=troque-por-uma-chave-grande-e-secreta

# Supabase
SUPABASE_URL=https://SEU-PROJETO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sua-service-role-key-aqui

# Mercado Pago
MP_ACCESS_TOKEN=APP_USR_xxxxxxxxxxxxxxxxx
